<h1>Exportar grilla</h1>
<p>Elija el tipo de grilla que desea generar y exportar:</p>

<p><%= link_to 'Grilla diaria', export_day_path %></p>

<p><%= link_to 'Grilla semanal', export_week_path %></p>
